@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "./pages/CounterDetails.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* HOME PAGE CSS--- */

.country-container {
  padding: 80px 0;
  background: linear-gradient(144deg, rgb(16, 17, 25) 0%, rgba(29, 32, 47, 1) 100%);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}


.grid-container>div {
  position: relative;
  padding: 25px;
  border-radius: 20px;
  background:
    linear-gradient(150deg, rgba(47, 52, 68, 1), rgba(22, 26, 37, 1)) padding-box,
    linear-gradient(to right, rgb(107, 1, 107), rgba(32, 49, 198, 0.599)) border-box;
  border: 2px solid transparent;

  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: all 0.3s ease-in-out;
}

.grid-container>div:hover {
  box-shadow: 0 0 15px rgba(155, 81, 224, 0.6);
}


.grid-container>div:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.grid-container>div h2 {
  color: #fff;
  font-weight: 400;
  margin: 12px 0;
}

.grid-container>div img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px !important;
}

.grid-container>div span {
  color: rgb(246, 246, 154);
}

.grid-container>div strong {
  color: #ffffffa5;
  font-weight: 500;

}


.info-row {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

.info-row strong {
  text-align: left;
}

.info-row span {
  text-align: right;
  margin-left: 10px;
}


/* search-bar-container css--- */

.search-bar-container {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input input {
  padding: 12px 18px;
  width: 300px;
  border-radius: 8px;
  border: 1.8px solid #cccccc44;
  background: #2c3141;
  color: #dadada;
}

.search-input input::placeholder {
  color: #dadada;
}

.filter-dropdown {
  padding: 10px 18px;
  border-radius: 8px;
  border: 1.8px solid #cccccc44;
  background: #2c3141;
  color: #dadada;
}

.filter-dropdown select {
  background: #2c3141;
  color: #dadada;
  border: none;

}